* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_2 {
    width: 100%;
    height: 1020px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_15 {
    width: 100%;
    height: 258px;
    background: url("../images/v2_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 766px;
    left: 0px;
    overflow: hidden;
  }
  .v1_3 {
    width: 100%;
    height: 258px;
    background: rgba(1,50,95,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  .v12_3 {
    width: 33.5%;
    height: 257px;
    background: url("../images/v12_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 33.5%;
    overflow: hidden;
  }
  .v7_59 {
    width: 333px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 175px;
    left: 134px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v7_60 {
    width: 45px;
    height: 45px;
    background: url("../images/v7_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 51px;
    overflow: hidden;
  }
  .v7_63 {
    width: 333px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 87px;
    left: 134px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v7_64 {
    width: 45px;
    height: 45px;
    background: url("../images/v7_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 51px;
    overflow: hidden;
  }
  .v12_5 {
    width: 33.5%;
    height: 255px;
    background: url("../images/v12_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 67%;
    overflow: hidden;
  }
  .v7_26 {
    width: 45px;
    height: 45px;
    background: url("../images/v7_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 183px;
    left: 31px;
    overflow: hidden;
  }
  .v7_21 {
    width: 45px;
    height: 45px;
    background: url("../images/v7_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95px;
    left: 31px;
    overflow: hidden;
  }
  .v7_24 {
    width: 372px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 175px;
    left: 114px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v7_20 {
    width: 372px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 87px;
    left: 114px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v12_4 {
    width: 33.5%;
    height: 255px;
    background: url("../images/v12_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0%;
    overflow: hidden;
  }
  .v7_50 {
    width: 333px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 175px;
    left: 134px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v7_55 {
    width: 45px;
    height: 45px;
    background: url("../images/v7_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 51px;
    overflow: hidden;
  }
  .v7_51 {
    width: 45px;
    height: 45px;
    background: url("../images/v7_51.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 51px;
    overflow: hidden;
  }
  .v7_54 {
    width: 333px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 87px;
    left: 134px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v7_16 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  .v2_16 {
    width: 100%;
    height: 482px;
    background: url("../images/v2_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 284px;
    left: 401px;
    overflow: hidden;
  }
  .v6_6 {
    width: 100%;
    height: 482px;
    background: url("../images/v6_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 40%;
    overflow: hidden;
  }
  .v2_7 {
    width: 100%;
    height: 482px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_24 {
    width: 100%;
    height: 93px;
    background: url("../images/v4_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v4_25 {
    width: 422px;
    height: 93px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v4_26 {
    width: 77px;
    height: 75px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 39px;
    border-radius: 50%;
  }
  .v4_27 {
    width: 55px;
    height: 40px;
    background: rgba(255,50,50,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 16px;
    overflow: hidden;
  }
  .v4_28 {
    width: 260px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 136px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_29 {
    width: 192px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_30 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 55px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_17 {
    width: 100%;
    height: 93px;
    background: url("../images/v4_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v4_18 {
    width: 422px;
    height: 93px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v4_19 {
    width: 77px;
    height: 75px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 39px;
    border-radius: 50%;
  }
  .v4_20 {
    width: 55px;
    height: 40px;
    background: rgba(255,50,50,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 16px;
    overflow: hidden;
  }
  .v4_21 {
    width: 260px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 136px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_22 {
    width: 192px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_23 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 55px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_10 {
    width: 100%;
    height: 93px;
    background: url("../images/v4_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v4_11 {
    width: 422px;
    height: 93px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v4_12 {
    width: 77px;
    height: 75px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 39px;
    border-radius: 50%;
  }
  .v4_13 {
    width: 55px;
    height: 40px;
    background: rgba(255,50,50,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 16px;
    overflow: hidden;
  }
  .v4_14 {
    width: 260px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 136px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_15 {
    width: 192px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_16 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 55px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_2 {
    width: 100%;
    height: 93px;
    background: url("../images/v4_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: -40%;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v3_2 {
    width: 422px;
    height: 93px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v3_3 {
    width: 77px;
    height: 75px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 39px;
    border-radius: 50%;
  }
  .v3_4 {
    width: 55px;
    height: 40px;
    background: rgba(255,50,50,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 16px;
    overflow: hidden;
  }
  .v3_5 {
    width: 260px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 136px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v3_6 {
    width: 192px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v3_7 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 55px;
    left: 136px;
    font-family: Inter;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v6_7 {
    width: 100%;
    height: 482px;
    background: url("../images/v6_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_8 {
    width: 40%;
    height: 482px;
    background: url("../images/v2_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_14 {
    width: 100%;
    height: 284px;
    background: url("../images/v2_14.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 401px;
    overflow: hidden;
  }
  .v4_31 {
    width: 100%;
    height: 93px;
    background: url("../images/v4_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v2_6 {
    width: 100%;
    height: 93px;
    background: rgba(115,255,65,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v5_78 {
    width: 12%;
    height: 93px;
    background: rgba(103,255,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 60%;
    overflow: hidden;
  }
  .v5_79 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v5_80 {
    width: 65px;
    height: 65px;
    background: url("../images/v5_80.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    overflow: hidden;
  }
  .v5_74 {
    width: 12%;
    height: 93px;
    background: rgba(103,255,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 48%;
    overflow: hidden;
  }
  .v5_75 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v5_76 {
    width: 65px;
    height: 65px;
    background: url("../images/v5_76.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    overflow: hidden;
  }
  .v5_70 {
    width: 12%;
    height: 93px;
    background: rgba(103,255,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 36%;
    overflow: hidden;
  }
  .v5_71 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v5_72 {
    width: 65px;
    height: 65px;
    background: url("../images/v5_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    overflow: hidden;
  }
  .v5_66 {
    width: 12%;
    height: 93px;
    background: rgba(103,255,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 24%;
    overflow: hidden;
  }
  .v5_67 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v5_68 {
    width: 65px;
    height: 65px;
    background: url("../images/v5_68.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    overflow: hidden;
  }
  .v5_62 {
    width: 12%;
    height: 93px;
    background: rgba(103,255,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 12%;
    overflow: hidden;
  }
  .v5_63 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v5_64 {
    width: 65px;
    height: 65px;
    background: url("../images/v5_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    overflow: hidden;
  }
  .v4_33 {
    width: 12%;
    height: 93px;
    background: rgba(103,255,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_34 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v4_35 {
    width: 65px;
    height: 65px;
    background: url("../images/v4_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    overflow: hidden;
  }
  .v7_13 {
    width: 100%;
    height: 191px;
    background: url("../images/v7_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_12 {
    width: 100%;
    height: 191px;
    background: url("../images/v7_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1440px;
    overflow: hidden;
  }
  .v7_11 {
    width: 100%;
    height: 191px;
    background: url("../images/v7_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 401px;
    overflow: hidden;
  }
  .v2_5 {
    width: 100%;
    height: 191px;
    background: url("../images/v2_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_12 {
    width: 235px;
    height: 191px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    margin-left: 0%;
    overflow: hidden;
  }
  .v2_17 {
    width: 399px;
    height: 766px;
    background: url("../images/v2_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_4 {
    width: 399px;
    height: 766px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_2 {
    width: 399px;
    height: 373px;
    background: url("../images/v6_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 393px;
    left: 0px;
    overflow: hidden;
  }
  .v5_126 {
    width: 399px;
    height: 76px;
    background: url("../images/v5_126.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 251px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v5_127 {
    width: 34px;
    height: 35px;
    background: url("../images/v5_127.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 20px;
    overflow: hidden;
  }
  .v5_128 {
    width: 311px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 19px;
    left: 74px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v5_123 {
    width: 399px;
    height: 76px;
    background: url("../images/v5_123.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v5_124 {
    width: 34px;
    height: 35px;
    background: url("../images/v5_124.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 20px;
    overflow: hidden;
  }
  .v5_125 {
    width: 311px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 19px;
    left: 74px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v5_120 {
    width: 399px;
    height: 76px;
    background: url("../images/v5_120.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 99px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v5_121 {
    width: 34px;
    height: 35px;
    background: url("../images/v5_121.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 20px;
    overflow: hidden;
  }
  .v5_122 {
    width: 311px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 19px;
    left: 74px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v5_117 {
    width: 399px;
    height: 76px;
    background: url("../images/v5_117.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v5_118 {
    width: 34px;
    height: 35px;
    background: url("../images/v5_118.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 20px;
    overflow: hidden;
  }
  .v5_119 {
    width: 311px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 19px;
    left: 74px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_2 {
    width: 473px;
    height: 255px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 373px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v5_81 {
    width: 399px;
    height: 104px;
    background: url("../images/v5_81.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 279px;
    left: 0px;
    overflow: hidden;
  }
  .v5_87 {
    width: 132px;
    height: 104px;
    background: url("../images/v5_87.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 267px;
    overflow: hidden;
  }
  .v5_95 {
    width: 132px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 79px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v5_97 {
    width: 61px;
    height: 59px;
    background: url("../images/v5_97.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 36px;
    overflow: hidden;
  }
  .v6_8 {
    width: 37px;
    height: 35px;
    background: rgba(255,72,72,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 66px;
    border-radius: 50%;
  }
  .v6_9 {
    width: 37px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 66px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v5_89 {
    width: 132px;
    height: 104px;
    background: url("../images/v5_89.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 133px;
    overflow: hidden;
  }
  .v5_91 {
    width: 133px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 79px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v5_90 {
    width: 61px;
    height: 59px;
    background: url("../images/v5_90.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 36px;
    overflow: hidden;
  }
  .v5_86 {
    width: 132px;
    height: 104px;
    background: url("../images/v5_86.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v5_93 {
    width: 132px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 79px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v5_96 {
    width: 61px;
    height: 59px;
    background: url("../images/v5_96.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 36px;
    overflow: hidden;
  }
  .v2_9 {
    width: 134px;
    height: 131px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 132px;
    border-radius: 50%;
  }
  .v5_116 {
    width: 99px;
    height: 83px;
    background: url("../images/v5_116.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 149px;
    overflow: hidden;
  }
  .v7_65 {
    width: 399px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 226px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v7_66 {
    width: 399px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 190px;
    left: 1px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  