:root{
    --check-color-active: #3dfd0d;
    --check-color-default:#e03409;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .sb-sidenav-menu{
    scrollbar-width: auto;
    scrollbar-color: #6e6868 #212529;
  }

  /* Chrome, Edge, and Safari */
  .sb-sidenav-menu::-webkit-scrollbar {
    width: 11px;
  }

  .sb-sidenav-menu::-webkit-scrollbar-track {
    background: #22272b;
  }

  .sb-sidenav-menu::-webkit-scrollbar-thumb {
    background-color: #6e6868;
    border-radius: 10px;
    border: 3px solid #22272b;
  }

.leaflet-container{
    /* width: 730px; */
    height: 500px;
    max-width: 100%;
    min-height: 100%;
    
}
#map-container{
    padding: 0;
}

.my-div-icon{
    background-image: url("/images/casa.png");
    min-width: 50px;
    min-height: 50px;
    background-size: cover;
}

.card-body.card-camiones{
    padding: 0;
}
.card-img-camionero{
    border-radius: 100px;
    background-color: black;
    width: 120px;
}
.card-parrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-parrafo{
    margin-bottom: 0;
}

.card-activo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-check.form-check-input:checked{    
    background-color: var(--check-color-default);
    border-color:  var(--check-color-default);
}

.card-check.form-check-input:checked.active{
    background-color: var(--check-color-active);
    border-color: var(--check-color-active);
}
.container-fluid:first-child,.btn-group.col-12.row{
    margin: 0;
    padding: 0;    
    height: 100px;

}


.btn-group.col-12.row  .btn.btn-success{
    border-radius: 0;
    background-color: #68FF21;
    border-color: #68FF21;
}
.btn-group.col-12.row  .btn.btn-success:hover{    
    background-color: #58CD20;
    border-color: #58CD20;
}
.btn-group.col-12.row  .btn.btn-success.active{
    background-color: #58CD20;
    border-color: #58CD20;
}

.header-icono{
    max-width: 50px;
    max-height: 50px;
}
.card-img-perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-perfil{
    border-radius: 100px;
    background-color: black;
    width: 110px;
}
.perfil-btb-img{
    max-width: 30px;
    max-height: 30px;
        
}
.perfil-btb-img.white{
filter: invert(100%);
}

.text-btn-perfil.text-center.col-4{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.btn-group button{
    font-size: 30px;
    font-weight: bold;
}

@media (max-width:1024px){  
    .btn-group button{
        font-size: 20px;
        font-weight: bold;
    }
}
@media (max-width:768px){
    .container-fluid:first-child,.btn-group.col-12.row{       
        height: 200px;
    }   
    .btn-group button{
        font-size: 20px;
        font-weight: bold;
    }
}
@media (max-width:425px){
    .container-fluid:first-child,.btn-group.col-12.row{       
        height: 200px;
    }   
    .btn-group button{
        font-size: 0px;
        font-weight: bold;
    }
}

.btn-group button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.footer-img{
    width: 60px;
    height: 60px;
}

.elemento-footer :is(h2,p) img{
    margin-right: 20px;
    margin-bottom: 20px;    
    /* background-size: contain; */
}

